<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cqu.filmsystem.Mapper.RatingMapper">

    <resultMap id="RatingResultMap" type="Rating">
        <id property="userId" column="user_id" />
        <result property="movieId" column="movie_id"/>
    </resultMap>


    <insert id="insert">
        insert into movie_ratings(user_id,movie_id,rating) values (#{userId}, #{movieId}, #{rating})
    </insert>

    <select id="select" resultMap="RatingResultMap">
        select * from  movie_ratings where user_id=#{userId} and movie_id=#{movieId}

    </select>

    <update id="update">
        UPDATE movie_ratings
        SET rating=#{rating}
        where user_id=#{userId} and movie_id=#{movieId}
    </update>

    <!-- 基于内容的协同过滤   -->
    <select id="getUserRatings" resultType="Rating">
        SELECT * FROM movie_ratings WHERE user_id = #{userId}
    </select>

    <select id="getAllUserRatings" resultType="Rating">
        SELECT * FROM movie_ratings
    </select>





</mapper>