<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>参数管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" th:replace="commons-admin :: menu(8)">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">管理后台</h2>
            <a href="#" class="active m-item item m-mobile-hide"><i class="mini home icon"></i>&nbsp;<span
                    style="font-size: 22px;font-family: 华文行楷">首页</span></a>
            <a href="#" class=" m-item item m-mobile-hide"><i class="mini idea icon"></i>&nbsp;<span
                    style="font-size: 22px;font-family: 华文行楷">分类</span></a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>&nbsp;<span
                    style="font-size: 22px;font-family: 华文行楷">标签</span></a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown  item">
                    <div class="text">
                        <img class="ui avatar image" src="https://unsplash.it/100/100?image=1005">
                        张鹏
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" class="teal active item">列表</a>
            <a href="#" class="item">发布</a>
            <a href="#" class="teal item">修改</a>
        </div>
    </div>
</div>


<!--中间内容-->
<div class="m-container-small m-padded-tb-big m-opacity">
    <div class="ui container">


        <div class="ui segment form" style="margin-top: 80px">
            <div>
                <h3 style="margin: calc(2rem - .14285em) 0 1rem;">电影热度值的计算公式为：</h3>
                <h3 style="margin: calc(2rem - .14285em) 0 1rem;">H = (W1 * B1 + W2 * B2 + + W3 * B3 +  W4 * B4)/t </h3>
                <h3 style="margin: calc(2rem - .14285em) 0 1rem;">各参数意义：</h3>
                <h3 style="display: flex;  margin: calc(2rem - .14285em) 0 1rem;">
                    <div style="margin-right: 100px;" >H:商品的热度值。</div>
                    <div style="margin-right: 100px;">w1:电影浏览次。</div>
                    <div style="margin-right: 100px;">w2:电影评论次。</div>
                </h3>

                <h3 style="display: flex; margin: calc(2rem - .14285em) 0 1rem;">
                    <div style="margin-right: 90px;">w3:电影收藏次数。</div>
                    <div style="margin-right: 60px;">w4:电影浏览总时长。</div>
                    <div style="margin-right: 100px;">t:时间衰减因子。</div>
                </h3>
                <!-- <h3>电影推荐参数调整：</h3> -->
                <h3 style="display: flex; margin: calc(2rem - .14285em) 0 1rem;">
                    <div style="margin-right: 16px;" >u:基于用户的协同过滤推荐电影数。</div>
                    <div style="margin-right: 10px;">c:基于内容的协同过滤电影相似度下限。</div>
                </h3>
            </div>


            <table class="ui compact teal table" >
                <thead>
                <tr>
                    <th>B1</th>
                    <th>B2</th>
                    <th>B3</th>
                    <th>B4</th>
                    <th>u</th>
                    <th>c</th>
                    <th>操作</th>
                </tr>
                </thead>
                <tbody>
                <tr >
                    <td th:text="${parameter.B1}">10</td>
                    <td th:text="${parameter.B2}">20</td>
                    <td th:text="${parameter.B3}">30</td>
                    <td th:text="${parameter.B4}">30</td>
                    <td th:text="${parameter.u}">1</td>
                    <td th:text="${parameter.c }">20</td>
                    <td>
                        <a href="#" th:href="@{'/admin/parameter/toUpdate?id='+${parameter.id}}"
                           class="ui mini teal basic button">修改</a>
                    </td>
                </tr>
                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">操作成功！</p>
        </div>
    </div>
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<script type="text/javascript" th:inline="javascript">

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    function confirmDel() {
        if (confirm("确定删除吗？")) {
            return true;
        } else {
            return false;
        }
    }

    //使用局部刷新，把点击的页面传给form表单的name为pageNum的input，在提交表单
    function page(obj) {
        $("#pageNum").val($(obj).attr('pageNum'));
        loaddata();
    }

    //提交表单
    function loaddata() {
        var pageNum = $("#pageNum").val();
        var title = $("#title").val();
        // var recommend = $("#recommend").prop("checked");
        //局部刷新的必须的元素id必须调用load
        $("#blogList").load(/*[[@{/admin/type/showAll/search}]]*/"/admin/type/showAll/search",
            {pageNum: pageNum, title: title})
    }

    //消息提示关闭初始化
    $('.message .close').on('click', function () {
        $(this).closest('.message').transition('fade');
    });

    $('#clear-btn')
        .on('click', function () {
            $('.ui.type.dropdown')
                .dropdown('clear')
            ;
        });
</script>
</body>
</html>