<!DOCtag html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>参数修改</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{css/me.css}">

</head>
<body>
-
<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" th:replace="commons-admin :: menu(4)">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">管理后台</h2>
            <a href="#" class="active m-item item m-mobile-hide"><i class="mini home icon"></i>&nbsp;<span
                    style="font-size: 22px;font-family: 华文行楷">博客</span></a>
            <a href="#" class=" m-item item m-mobile-hide"><i class="mini idea icon"></i>&nbsp;<span
                    style="font-size: 22px;font-family: 华文行楷">分类</span></a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>&nbsp;<span
                    style="font-size: 22px;font-family: 华文行楷">标签</span></a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown  item">
                    <div class="text">
                        <img class="ui avatar image" src="https://unsplash.it/100/100?image=1005">
                        张鹏
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" class="item">列表</a>
            <a href="#" class="teal  item">新增</a>
            <a href="#" class="teal active item">修改</a>
        </div>
    </div>
</div>


<!--中间内容-->
<div  class="m-container-small m-padded-tb-big m-opacity">
    <div class="ui container"style="margin-top: 200px;" >
        <form id="saveForm" action="#" th:action="@{/admin/parameter/update(id=${parameter.getId()})}" method="post" class="ui form">


            <div class=" three fields" >
                <div class="required field">
                    <div class="ui left labeled input">
                        <label class="ui teal basic label">B1</label>
                        <input type="text" name="B1" placeholder="B1" th:value="${parameter.getB1()}">
                    </div>
                </div>

                <div class="required field">
                        <div class="ui left labeled input">
                            <label class="ui teal basic label">B2</label>
                            <input type="text" name="B2" placeholder="B2" th:value="${parameter.getB2()}">
                        </div>
                </div>

                <div class="required field">
                    <div class="ui left labeled input">
                        <label class="ui teal basic label">B3</label>
                        <input type="text" name="B3" placeholder="B3" th:value="${parameter.getB3()}">
                    </div>
                </div>

            </div>

            <div class=" three fields" >
                <div class="required field">
                    <div class="ui left labeled input">
                        <label class="ui teal basic label">B4</label>
                        <input type="text" name="B4" placeholder="B4" th:value="${parameter.getB4()}">
                    </div>
                </div>

                <div class="required field">
                    <div class="ui left labeled input">
                        <label class="ui teal basic label">u</label>
                        <input type="text" name="u" placeholder="u" th:value="${parameter.getU()}">
                    </div>
                </div>

                    <div class="required field">
                        <div class="ui left labeled input">
                            <label class="ui teal basic label">u</label>
                            <input type="text" name="c" placeholder="c" th:value="${parameter.getC()}">
                        </div>
                    </div>

            </div>


            <div class="ui error message"></div>

            <div class="ui m-text-center aligned container">
                <button type="button" class="ui button" onclick="window.history.go(-1)" >返回</button>
                <button type="button" id="published_btn" class="ui teal button">修改</button>
            </div>

        </form>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
 class="ui inverted header m-text-thin m-text-spaced ">Blog</h4>
                <p class="m-text-thin m-text-spaced m-opacity-mini">这是我的个人博客、会分享关于编程、写作、思考相关的任何内容，希望可以给来到这儿的人有所帮助...</p>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-tiny">Copyright © 2020 - 2030</p>
    </div>

</footer>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<script>

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    $("#published_btn").click(function () {
        $("#published").val(true);
        $("#saveForm").submit();
    });

    $('.ui.form').form({
        fields: {
            title: {
                identifier: 'B1',
                rules: [{
                    type: 'empty',
                    prompt: 'B1不能为空'
                }]
            }
        },
        fields: {
            title: {
                identifier: 'B2',
                rules: [{
                    type: 'empty',
                    prompt: 'B2不能为空'
                }]
            }
        },
        fields: {
            title: {
                identifier: 'B3',
                rules: [{
                    type: 'empty',
                    prompt: 'B3不能为空'
                }]
            }
        },
        fields: {
            title: {
                identifier: 'B4',
                rules: [{
                    type: 'empty',
                    prompt: 'B4不能为空'
                }]
            }
        },
        fields: {
            title: {
                identifier: 'u',
                rules: [{
                    type: 'empty',
                    prompt: 'u不能为空'
                }]
            }
        },
        fields: {
            title: {
                identifier: 'c',
                rules: [{
                    type: 'empty',
                    prompt: 'c不能为空'
                }]
            }
        }
    });

    //消息提示关闭初始化
    $('.message .close').on('click', function () {
        $(this).closest('.message').transition('fade');
    })

</script>
</body>
</html>