<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>标签</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css" th:href="@{/static/css/me.css}">
</head>
<body>
<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" th:replace="commons :: menu(5
)">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item" style="font-family: 'YaHei Consolas Hybrid'">Blog</h2>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini home icon"></i>&nbsp;<span
                    style="font-size: 22px;font-family: 华文行楷">首页</span></a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini idea icon"></i>&nbsp;<span
                    style="font-size: 22px;font-family: 华文行楷">分类</span></a>
            <a href="#" class="active m-item item m-mobile-hide"><i class="mini tags icon"></i>&nbsp;<span
                    style="font-size: 22px;font-family: 华文行楷">标签</span></a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini clone icon"></i>&nbsp;<span
                    style="font-size: 22px;font-family: 华文行楷">归档</span></a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini info icon"></i><span
                    style="font-size: 22px;font-family: 华文行楷">关于我</span></a>
            <div class="right m-item item m-mobile-hide">
                <div class="ui icon inverted transparent input m-margin-tb-tiny">
                    <input type="text" placeholder="Search....">
                    <i class="search link icon"></i>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>


<!--中间内容-->
<div class="m-container-small m-padded-tb-big animated fadeIn m-opacity">
    <div class="ui container">
        <!--header-->
        <div class="ui top attached segment">
            <div class="ui middle aligned two column grid">
                <div class="column">
                    <h3 class="ui teal header">标签</h3>
                </div>
                <div class="right aligned column">
                    共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${#lists.size(tags)}"> 14 </h2> 个
                </div>
            </div>
        </div>

        <div class="ui attached segment m-padded-tb-large">
            <a href="#" th:href="@{'/tag/showAll?tagId='+${tag.id}}"
               class="ui basic left pointing large label m-margin-tb-tiny"
               th:classappend="${tagId == tag.id ? 'teal' : ''}" th:each="tag:${tags}">
                <span th:text="${tag.name}">方法论</span>
                <div class="detail" th:text="${tag.counts}">23</div>
            </a>
            <!--/*-->
            <!--*/-->
        </div>


        <div class="ui top attached teal segment  m-opacity" id="blogList"  th:fragment="blogList">

            <div class="ui top attached segment m-opacity">
                <div class="ui middle aligned two column grid">
                    <div class="column">
                        <h3 class="ui teal header">电影查询</h3>
                    </div>
                    <div class="right aligned column">
                        共 <h2 class="ui orange header m-inline-block m-text-thin" th:text="${pageInfo.total}">
                        14 </h2> 篇
                    </div>
                </div>
            </div>

            <div class="ui padded vertical segment m-padded-tb-large m-mobile-lr-clear" th:each="movie:${pageInfo.list}">
                <div class="ui mobile reversed stackable grid">
                    <div class="ui card" style="width: 100%; box-shadow: 0 4px 8px rgba(0,0,0,0.1); border-radius: 10px;">
                        <div class="content">
                            <div class="ui mobile reversed stackable grid">
                                <div class="eleven wide column">
                                    <h3 class="ui header" style="font-size: 1.5em; margin-bottom: 10px;">
                                        <a href="#" th:href="@{'/movie/details?id='+${movie.id}}" target="_blank" class="m-black" th:text="${movie.title}">你真的理解什么是财富自由吗</a>
                                    </h3>
                                    <p class="m-text" th:inline="text" style="line-height: 1.6; color: #666; font-size: 1.1em; margin-bottom: 10px;">
                                        简介：[[${#strings.substring(movie.description, 0, #strings.length(movie.description) < 300? #strings.length(movie.description) : 300)}]]
                                    </p>
                                    <p class="m-text" th:inline="text" style="line-height: 1.6; color: #666; font-size: 1.1em; margin-bottom: 10px;">
                                        导演：[[${movie.director}]]
                                    </p>
                                    <!-- 上映时间 -->
                                    <p class="m-text" th:inline="text" style="line-height: 1.6; color: #666; font-size: 1.1em; margin-bottom: 10px;">
                                        上映时间：[[${#dates.format(movie.releaseDate, 'yyyy-MM-dd')}]]
                                    </p>
                                    <!-- 浏览次数 -->
                                    <p class="m-text" th:inline="text" style="line-height: 1.6; color: #666; font-size: 1.1em; margin-bottom: 10px;">
                                        浏览次数：[[${movie.pageView}]]
                                    </p>

                                    <div class="ui labels" style="gap: 4px; margin: 0; margin-bottom: 10px;">
                                        <a th:each="type : ${movieTypesMap[movie.id]}"
                                           th:if="${movieTypesMap[movie.id] != null and !movieTypesMap[movie.id].isEmpty()}"
                                           href="#"
                                           target="_blank"
                                           class="ui teal basic label m-padded-tiny m-text-thin"
                                           style="padding: 4px 8px; font-size: 0.9em;"
                                           th:text="${type.categoryName}">
                                        </a>
                                    </div>

                                    <div class="ui mini horizontal link list" style="margin-top: 1em;">
                                        <div class="item">
                                            <a href="#" class="icon"><i class="thumbs up outline icon"></i> 点赞</a>
                                        </div>
                                        <div class="item">
                                            <a href="#" class="icon"><i class="bookmark outline icon"></i> 收藏</a>
                                        </div>
                                        <div class="item">
                                            <a href="http://service.weibo.com/share/share.php?url=[[${currentPageUrl}]]&title=电影精彩来袭&pic=[[${movie.pictureUrl}]]" target="_blank" class="icon">
                                                <i class="fa-brands fa-weibo"></i> 分享
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                <div class="five wide column">
                                    <a href="#" th:href="@{'/movie/details?id='+${movie.id}}" target="_blank">
                                        <img src="../static/images/phone1.jpg" alt="" th:src="'/img-proxy?url=' + ${movie.picture}" class="ui rounded image" style="max-width: 100%; height: auto; box-shadow: 0 2px 4px rgba(0,0,0,0.15);">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/*-->
            <!--*/-->
            <div class="ui bottom attached segment" th:if="${pageInfo.pages > 1}">
                <div class="ui middle aligned three column grid">
                    <div class="column">
                        <a href="#" onclick="page(this)"
                           th:attr="pageNum=${pageInfo.pageNum - 1 <= 0 ? 1 : pageInfo.pageNum - 1}"
                           class="ui mini teal basic button">上一页</a>
                    </div>
                    <!-- 新增显示当前页数 -->
                    <div class="column" style="text-align:center;">
                        <div class="ui mini teal basic label" th:text="${pageInfo.pageNum} + '/' + ${pageInfo.pages}">1/10</div>
                    </div>
                    <div class="right aligned column">
                        <a href="#" onclick="page(this)"
                           th:attr="pageNum=${pageInfo.pageNum + 1 > pageInfo.pages ? pageInfo.pages : pageInfo.pageNum + 1}"
                           class="ui mini teal basic button">下一页</a>
                    </div>
                </div>
            </div>

        </div>



    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<script type="text/javascript" th:inline="javascript">
    var pageNum;

    function page(obj) {
        pageNum = $(obj).attr("pageNum");
        loaddata();
    }

    //提交表单
    function loaddata() {
        //局部刷新的必须的元素id必须调用load
        $("#blogList").load("/tag/showAll/search", {pageNum: pageNum, tagId: [[${tagId}]]});
    }

</script>
<script src="../static/layui/layui.js" th:src="@{/static/layui/layui.js}"></script>
<script type="text/javascript" th:replace="commons :: script"></script>
</body>
</html>