<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="commons :: head(~{::title})">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>电影管理</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.css">
    <link rel="stylesheet" href="../static/css/me.css">
</head>
<body>

<!--导航-->
<nav class="ui inverted attached segment m-padded-tb-mini m-shadow-small" th:replace="commons-admin :: menu(3)">
    <div class="ui container">
        <div class="ui inverted secondary stackable menu">
            <h2 class="ui teal header item">管理后台</h2>
            <a href="#" class="active m-item item m-mobile-hide"><i class="mini home icon"></i>&nbsp;<span
                    style="font-size: 22px;font-family: 华文行楷">首页</span></a>
            <a href="#" class=" m-item item m-mobile-hide"><i class="mini idea icon"></i>&nbsp;<span
                    style="font-size: 22px;font-family: 华文行楷">分类</span></a>
            <a href="#" class="m-item item m-mobile-hide"><i class="mini tags icon"></i>&nbsp;<span
                    style="font-size: 22px;font-family: 华文行楷">标签</span></a>
            <div class="right m-item m-mobile-hide menu">
                <div class="ui dropdown  item">
                    <div class="text">
                        <img class="ui avatar image" src="https://unsplash.it/100/100?image=1005">
                        张鹏
                    </div>
                    <i class="dropdown icon"></i>
                    <div class="menu">
                        <a href="#" th:href="@{/logout}" class="item">注销</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
    </a>
</nav>
<div class="ui attached pointing menu">
    <div class="ui container">
        <div class="right menu">
            <a href="#" class="teal active item">列表</a>
            <a href="#" class="item">发布</a>
            <a href="#" class="teal item">修改</a>
        </div>
    </div>
</div>


<!--中间内容-->
<div class="m-container-small m-padded-tb-big m-opacity">
    <div class="ui container">


        <div class="ui segment form" style="margin-top: 150px">
            <input type="hidden" name="pageNum" id="pageNum">
            <div class="inline fields">


                <div class="field">
                    <input id="title" type="text" name="title"
                           th:value="${#strings.isEmpty(title) == false ? title : ''}" placeholder="分类名">
                </div>


                <div class="field">
                    <button class="ui mini teal basic button" onclick="loaddata()"><i class="search icon"></i>搜索
                    </button>
                </div>
            </div>


        </div>

        <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
            <i class="close icon"></i>
            <div class="header">提示：</div>
            <p th:text="${message}">操作成功！</p>
        </div>

        <table class="ui compact teal table" th:fragment="blogList" id="blogList">
            <thead>
            <tr>
                <th>ID</th>
                <th>类别</th>
                <th>其他操作</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tag:${pageInfo.list}">
                <td th:text="${tag.categoryId}">1</td>
                <td th:text="${tag.categoryName}">2017-10-02 09:45</td>
                <td>
                    <a href="#" th:href="@{'/admin/type/toUpdate?id='+${tag.categoryId}}"
                       class="ui mini teal basic button">编辑</a>
                    <a href="#" th:href="@{'/admin/type/deleteById?id='+${tag.categoryId}}" onclick="return confirmDel()"
                       class="ui mini red basic button">删除</a>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th colspan="8">
                    <div class="ui mini pagination menu">
                        <a onclick="page(this)" class=" item"
                           th:attr="pageNum = ${pageInfo.pageNum - 1 <= 0 ? 1 : pageInfo.pageNum - 1}">上一页</a>
                        <a onclick="page(this)" href="#" th:attr="pageNum=${n}" class=" item"
                           th:classappend="${pageInfo.pageNum == n ? 'active' : ''}"
                           th:each="n:${pageInfo.navigatepageNums}"><span th:text="${n}">1</span></a>
                        <a onclick="page(this)" class=" item"
                           th:attr="pageNum = ${pageInfo.pageNum + 1 > pageInfo.pages ? pageInfo.pages : pageInfo.pageNum + 1}">下一页</a>
                    </div>
                    <a href="#" th:href="@{/admin/type/toAdd}" class="ui mini right floated teal basic button">新增</a>
                </th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>

<script type="text/javascript" th:inline="javascript">

    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on: 'hover'
    });

    function confirmDel() {
        if (confirm("确定删除吗？")) {
            return true;
        } else {
            return false;
        }
    }

    //使用局部刷新，把点击的页面传给form表单的name为pageNum的input，在提交表单
    function page(obj) {
        $("#pageNum").val($(obj).attr('pageNum'));
        loaddata();
    }

    //提交表单
    function loaddata() {
        var pageNum = $("#pageNum").val();
        var title = $("#title").val();
        // var recommend = $("#recommend").prop("checked");
        //局部刷新的必须的元素id必须调用load
        $("#blogList").load(/*[[@{/admin/type/showAll/search}]]*/"/admin/type/showAll/search",
            {pageNum: pageNum, title: title})
    }

    //消息提示关闭初始化
    $('.message .close').on('click', function () {
        $(this).closest('.message').transition('fade');
    });

    $('#clear-btn')
        .on('click', function () {
            $('.ui.type.dropdown')
                .dropdown('clear')
            ;
        });
</script>
</body>
</html>